<h1 class="title has-text-weight-medium">
  <span>“{{ senseGroups[0].oxId }}”</span> has many senses
</h1>
<div class="columns is-multiline">
  <div
    class="column is-one-third sense-column content"
    *ngFor="let entry of senseGroups"
  >
    <div class="box" *ngFor="let group of entry.senseGroups">
      <p>
        <span class="has-text-weight-bold">
          {{ entry.oxId | removeUnderscores }}
        </span>
        <span class="has-text-grey">{{ group.lexicalCategory }}</span>
      </p>
      <div *ngFor="let sense of group.senses">
        <p class="has-text-grey is-italic">‘{{ sense.example }}’</p>
        <button
          class="button is-primary is-fullwidth"
          (click)="onSenseClick($event, sense)"
        >
          <span class="icon">
            <fa-icon [icon]="['fas', 'eye']"></fa-icon>
          </span>
          <span>View sign</span>
        </button>
      </div>
    </div>
  </div>
</div>
