<p>basic works!</p>
<div>Message: {{ hello$ | async | json }}</div>
<div>{{ words | json }}</div>
<div>{{ hello | json }}</div>
<div>Hello 2: {{ hello2 | json }}</div>
<div>By id: {{ byId | json }}</div>

<div *ngFor="let word of words">
  <p>{{ word.word }}</p>
</div>
<div *ngIf="loading">
  <h1>Loading...</h1>
</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
