<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/search">
      Erya
    </a>
    <a
      [ngClass]="{ 'is-active': isMenuOpen }"
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="toggleNavbar()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div
    id="navbarBasicExample"
    class="navbar-menu"
    [ngClass]="{ 'is-active': isMenuOpen }"
  >
    <div class="navbar-start">
      <a
        class="navbar-item"
        (click)="navigateTo('/search')"
        routerLinkActive="is-active"
      >
        Search
      </a>

      <a
        class="navbar-item"
        routerLinkActive="is-active"
        (click)="navigateTo('/contribute')"
      >
        Contribute
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field">
          <p class="control">
            <a
              *ngIf="currentUser$ | async; else logIn"
              class="button is-primary is-inverted is-outlined"
              (click)="logout()"
            >
              <span class="icon">
                <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
              </span>
              <span>Logout</span>
            </a>

            <ng-template #logIn>
              <a
                class="button is-sm is-primary is-inverted is-outlined"
                (click)="navigateTo('/login')"
              >
                <span class="icon">
                  <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
                </span>
                <span>Login</span>
              </a>
            </ng-template>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
