<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="{{ searchComponentPath }}">
      <fa-icon [icon]="['fas', 'home']"></fa-icon>
    </a>
    <a
      [ngClass]="{ 'is-active': isMenuOpen }"
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="toggleNavbar()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div
    id="navbarBasicExample"
    class="navbar-menu"
    [ngClass]="{ 'is-active': isMenuOpen }"
  >
    <div class="navbar-start"></div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info" (click)="navigateTo('/contribute')">
            <span class="icon"
              ><fa-icon [icon]="['fas', 'plus']"></fa-icon
            ></span>
            <span><strong>Contribute</strong></span>
          </a>
        </div>
      </div>
      <div
        class="navbar-item has-dropdown is-hoverable"
        *ngIf="currentUser$ | async as user; else logIn"
      >
        <a class="navbar-link">
          <span class="icon">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
          </span>
          <span>{{ user.username }}</span>
        </a>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item" (click)="logout()">
            <span class="icon">
              <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
            </span>
            <span>Logout</span>
          </a>
        </div>
      </div>
      <!--      <span class="navbar-item" *ngIf="currentUser$ | async as user"> {{user.username}} </span>-->
      <!--      <a-->
      <!--        *ngIf="currentUser$ | async; else logIn"-->
      <!--        class="navbar-item"-->
      <!--        (click)="logout()"-->
      <!--      >-->
      <!--        <span class="icon">-->
      <!--          <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>-->
      <!--        </span>-->
      <!--        <span>Logout</span>-->
      <!--      </a>-->

      <ng-template #logIn>
        <a class="navbar-item" (click)="navigateTo(loginComponentPath)">
          <span class="icon">
            <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
          </span>
          <span>Login</span>
        </a>
      </ng-template>
    </div>
  </div>
</nav>
