<p>second works!</p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Search"
      aria-label="Type here to search"
      matInput
      [formControl]="searchFormControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      autoActiveFirstOption
      (optionSelected)="onOptionSelected($event.option.value)"
    >
      <mat-option *ngFor="let res of searchResults$ | async" [value]="res">
        {{ res.word }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
