<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Search"
      aria-label="Type here to search"
      matInput
      [formControl]="wordSearchFormControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      autoActiveFirstOption
      (optionSelected)="onOptionSelected($event.option.value)"
    >
      <mat-option *ngFor="let res of wordSearchResults$ | async" [value]="res">
        {{ res.word }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-selection-list (selectionChange)="selectionChange($event.option.value)">
  <mat-list-option *ngFor="let sense of senses$ | async" [value]="sense">
    <p>{{ sense.example }}</p>
  </mat-list-option>
</mat-selection-list>
