<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Search"
      aria-label="Type here to search"
      matInput
      [formControl]="entrySearchFormControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      autoActiveFirstOption
      (optionSelected)="onOptionSelected($event.option.value)"
    >
      <mat-option *ngFor="let res of entrySearchResults$ | async" [value]="res">
        {{ res.word }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-action-list>
  <mat-list-item
    *ngFor="let sense of senses$ | async"
    (click)="onSenseClick($event, sense)"
  >
    <p>{{ sense.example }}</p>
  </mat-list-item>
</mat-action-list>
