<div [ngSwitch]="mediaType">
  <div *ngSwitchCase="'htmlVideo'">
    <video autoplay loop playsinline [muted]="true">
      <source src="{{ sign.mediaUrl }}" type="video/mp4" />
    </video>
  </div>

  <div *ngSwitchCase="'youtube'">
    <div class="columns is-centered" *ngIf="deviceService.isMobile()">
      <div class="column is-one-third">
        <button
          class="button is-primary is-fullwidth"
          (click)="youtubePlayAgain()"
        >
          <span class="icon">
            <fa-icon [icon]="['fas', 'play']"></fa-icon>
          </span>
          <span>Play Video</span>
        </button>
      </div>
    </div>
    <youtube-player class="image is-16by9"
      #youtube_player_container
      [videoId]="platformVideoId"
      (ready)="onYouTubePlayerReady()"
      (stateChange)="onYouTubePlayerStateChange($event)"
    ></youtube-player>
  </div>

  <!-- Dmitry: Here are the vimeo player docs: https://github.com/vimeo/player.js -->
  <div *ngSwitchCase="'vimeo'" #vimeo_player_container class="image is-16by9 vimeo-container"></div>

  <div *ngSwitchDefault>
    <img class="is-fullwidth-er" src="{{ sign.mediaUrl }}" />
  </div>
</div>

<edfu-sense [sense]="sense"></edfu-sense>
