<div *ngIf="(signsBs$ | async).length; else elseBlock">
  <div *ngFor="let sign of signsBs$ | async">
    <b>{{ sign.senseSigns[0].sense.ownEntryOxId }}</b>
    <p>Created {{ sign._id | idToDate | timeAgo }}</p>
    <a
      [routerLink]="[
        searchComponentPath,
        sign.senseSigns[0].sense.ownEntryOxId
      ]"
      [queryParams]="{ senseId: sign.senseSigns[0].senseId }"
    >
      View all signs for {{ sign.senseSigns[0].sense.ownEntryOxId }}
    </a>
    <button (click)="onDeleteButtonClick(sign)">Delete sign</button>
  </div>
</div>
<ng-template #elseBlock
  >You have no signs.
  <a [routerLink]="[contributeComponentPath]">
    Upload your first sign
  </a>
</ng-template>
