mat-form-field {
  width: 100%;
}

.is-fullwidth-er {
  width: 100%;
}

.sub-navbar {
  padding: 10px 0;

  .mat-form-field-flex {
    background-color: #ffffff;
    padding: 5px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    margin-bottom: -20px;
  }
}

.sense-container {
  padding-top: 10px;
}

youtube-player iframe,
.vimeo-container iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sense {
  &-example {
    padding-top: 10px;
  }
  &-definition {
    margin-top: auto;
    padding-top: 10px;
  }
}

input.sense-input {
  visibility: hidden;
  position: absolute;

  & + label.box {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $white;
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      border: 1px solid $grey-light;
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 3px;
    }
    &:hover {
      cursor: pointer;
      border-color: $primary;

      @media (hover: none) {
        border-color: $white;
      }
      &:after {
        border-color: $primary;
        @media (hover: none) {
          border-color: $grey-light;
        }
      }
    }
  }
  &:checked + label.box {
    border-color: $primary;
    &:after {
      content: '✔';
      height: 20px;
      border-color: $primary;
      font-size: 13px;
      text-align: center;
      color: $primary;
    }
  }
}

@media screen and (max-width: 768px), print {
  .button.is-fullwidth-mobile {
    display: flex;
    width: 100%;
  }
}
