<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Search"
      aria-label="Type here to search"
      matInput
      [formControl]="searchFormControl"
      [matAutocomplete]="auto"
      autofocus
    />

    <button
      mat-button
      mat-icon-button
      matSuffix
      (click)="clearSearchField()"
      *ngIf="this.searchFormControl.value"
    >
      <mat-icon>close</mat-icon>
    </button>

    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayWithoutUnderscores"
      autoActiveFirstOption
      (optionSelected)="onOxIdSelect($event.option.value)"
    >
      <mat-option *ngFor="let oxId of oxIds$ | async" [value]="oxId">
        {{ oxId | removeUnderscores }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div *ngIf="entriesWithSensesBs$ | async as entries">
  <mat-action-list>
    <div *ngFor="let entry of entries">
      <mat-list-item>
        <b>{{ entry.oxId | removeUnderscores }}</b>
      </mat-list-item>
      <div *ngFor="let group of entry.senseGroups">
        <mat-list-item>{{ group.lexicalCategory }}</mat-list-item>
        <edfu-sense
          *ngFor="let sense of group.senses"
          [sense]="sense"
          (senseEmitter)="onSenseSelect($event)"
        >
        </edfu-sense>
      </div>
    </div>
  </mat-action-list>
</div>

<div *ngIf="senseSignsBs$ | async as senseSigns">
  <edfu-sign
    *ngFor="let senseSign of senseSigns"
    [sign]="senseSign.sign"
  ></edfu-sign>
</div>

<button mat-raised-button (click)="openDialog(null)">Pick one</button>
