<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      #search_input
      type="text"
      placeholder="Search"
      aria-label="Type here
    to search"
      matInput
      [formControl]="searchFormControl"
      [matAutocomplete]="auto"
    />

    <button
      mat-button
      mat-icon-button
      matSuffix
      (click)="clearSearchField()"
      *ngIf="this.searchFormControl.value"
    >
      <mat-icon>close</mat-icon>
    </button>

    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayWithoutUnderscores"
      autoActiveFirstOption
      (optionSelected)="onOxIdSelectViaDropdown($event.option.value)"
    >
      <mat-option *ngFor="let oxId of oxIds$ | async" [value]="oxId">
        {{ oxId | removeUnderscores }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div *ngIf="selectedSense">
  <h3>{{ selectedSense.ownEntryOxId | removeUnderscores }}</h3>
</div>

<div *ngIf="senseSignsBs$ | async as senseSigns">
  <edfu-sign
    *ngFor="let senseSign of senseSigns"
    [sign]="senseSign.sign"
  ></edfu-sign>
</div>

<div *ngIf="selectedSense">
  <edfu-sense [sense]="selectedSense"> </edfu-sense>
</div>
