/* You can add global styles to this file, and also import other style files */

/* Added by Angular Material https://github.com/DerekHill/edfu/commit/dd66d5f58bfd7052a5897084ba290cceb012e3c0 */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Added by Derek */
p {
  text-align: center;
}

h1 {
  text-align: center;
}

div {
  text-align: center;
}
